<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mscode.maketa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.mscode.maketa.Application"
        android:allowBackup="false"
        android:icon="@drawable/maketa"
        android:label="@string/app_name">

        <activity
            android:name="com.mscode.presentation.splashscreen.activity.MaketaActivity"
            android:theme="@style/Theme.Maketa"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>